In [9]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

df = pd.read_csv('vgsales_1.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,13982,Trine 2,PC,2011.0,Platform,Focus Home Interactive,0.00,0.03,0.00,0.01,0.04
1,4269,Gremlins,2600,1983.0,Action,Atari,0.43,0.03,0.00,0.00,0.46
2,5519,Battle Dodge Ball,SNES,1991.0,Sports,Banpresto,0.00,0.00,0.33,0.00,0.33
3,4476,TimeSplitters 2,GC,2002.0,Shooter,Eidos Interactive,0.34,0.09,0.00,0.01,0.44
4,13052,Sherlock Holmes: Crimes & Punishments,PC,2014.0,Adventure,Focus Home Interactive,0.00,0.05,0.00,0.00,0.05
...,...,...,...,...,...,...,...,...,...,...,...
548,13109,ESPN International Winter Sports 2002,GC,2002.0,Sports,Konami Digital Entertainment,0.04,0.01,0.00,0.00,0.05
549,5882,Fossil Fighters (JP sales),DS,2008.0,Role-Playing,Nintendo,0.00,0.00,0.30,0.00,0.30
550,152,Resident Evil 2,PS,1998.0,Action,Virgin Interactive,1.88,1.47,2.02,0.45,5.82
551,1702,Final Fantasy I & II: Dawn of Souls,GBA,2004.0,Role-Playing,Nintendo,0.64,0.24,0.29,0.02,1.19
552,4560,Petz: Horsez 2,Wii,2007.0,Simulation,Ubisoft,0.39,0.00,0.00,0.03,0.43

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553 entries, 0 to 552
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          553 non-null    int64
 1   Name          553 non-null    object
 2   Platform      553 non-null    object
 3   Year          543 non-null    float64
 4   Genre         553 non-null    object
 5   Publisher     546 non-null    object
 6   NA_Sales      553 non-null    float64
 7   EU_Sales      553 non-null    float64
 8   JP_Sales      553 non-null    float64
 9   Other_Sales   553 non-null    float64
 10  Global_Sales  553 non-null    float64
dtypes: float64(6), int64(1), object(4)
memory usage: 47.6+ KB

In [11]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,553.000000,543.000000,553.000000,553.000000,553.000000,553.000000,553.000000
mean,8337.687161,2006.548803,0.303183,0.152712,0.076781,0.047161,0.579693
std,4817.230392,5.615683,1.379364,0.515494,0.437705,0.167325,2.258500
min,2.000000,1981.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.000000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8187.000000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.180000
75%,12604.000000,2010.000000,0.250000,0.120000,0.030000,0.040000,0.470000
max,16553.000000,2016.000000,29.080000,9.230000,6.810000,2.900000,40.240000

In [12]:
df.shape

(553, 11)

In [13]:
dff = df.drop(columns=['Genre'])
dff.head(10)

,Rank,Name,Platform,Year,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,13982,Trine 2,PC,2011.0,Focus Home Interactive,0.00,0.03,0.00,0.01,0.04
1,4269,Gremlins,2600,1983.0,Atari,0.43,0.03,0.00,0.00,0.46
2,5519,Battle Dodge Ball,SNES,1991.0,Banpresto,0.00,0.00,0.33,0.00,0.33
3,4476,TimeSplitters 2,GC,2002.0,Eidos Interactive,0.34,0.09,0.00,0.01,0.44
4,13052,Sherlock Holmes: Crimes & Punishments,PC,2014.0,Focus Home Interactive,0.00,0.05,0.00,0.00,0.05
5,10836,Barnyard,PS2,2006.0,THQ,0.05,0.04,0.00,0.01,0.09
6,12997,Ultra Bust-A-Move,XB,2004.0,505 Games,0.04,0.01,0.00,0.00,0.05
7,2377,Spec Ops: Ranger Elite,PS,2001.0,TalonSoft,0.49,0.33,0.00,0.06,0.87
8,15723,Arslan: The Warriors of Legend,XOne,2016.0,Tecmo Koei,0.01,0.00,0.00,0.00,0.02
9,12924,Tour de France 2011,X360,NaN,Focus Home Interactive,0.00,0.05,0.00,0.01,0.05

In [14]:
df.isnull().sum()

Rank             0
Name             0
Platform         0
Year            10
Genre            0
Publisher        7
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
Global_Sales     0
dtype: int64

In [15]:
dfz = df.replace({'Publisher' : np.nan}, 'ОАО ОАО')
dfz.isnull().sum()

Rank             0
Name             0
Platform         0
Year            10
Genre            0
Publisher        0
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
Global_Sales     0
dtype: int64

In [16]:
dfq = df
simple = SimpleImputer(strategy='median', missing_values=np.nan)
simple = simple.fit(dfq[['Year']])
dfq['Year'] = simple.transform(dfq[['Year']])
dfq.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       7
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [17]:
df.sort_values(by='Name').head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
180,15008,11eyes: CrossOver,X360,2009.0,Adventure,5pb,0.00,0.00,0.02,0.00,0.02
545,12255,187: Ride or Die,XB,2005.0,Racing,Ubisoft,0.05,0.01,0.00,0.00,0.06
394,14078,A Game of Thrones: Genesis,PC,2011.0,Strategy,Focus Home Interactive,0.00,0.03,0.00,0.01,0.04
95,6239,AC/DC LIVE: Rock Band Track Pack,Wii,2008.0,Misc,MTV Games,0.25,0.00,0.00,0.02,0.28
200,16201,AKB1/48: Idol to Guam de Koishitara...,X360,2007.0,Misc,NaN,0.00,0.00,0.01,0.00,0.01
414,14795,AMNESIA World,PSV,2014.0,Adventure,Idea Factory,0.00,0.00,0.03,0.00,0.03
447,15950,Accel World: Kasoku no Chouten,PS3,2013.0,Adventure,Namco Bandai Games,0.00,0.00,0.02,0.00,0.02
501,2764,Ace Combat: Assault Horizon,PS3,2011.0,Action,Namco Bandai Games,0.30,0.16,0.22,0.07,0.74
257,11078,Action Man-Operation Extreme,PS,2007.0,Action,NaN,0.05,0.03,0.00,0.01,0.09
228,13211,Adventure Time: Explore the Dungeon Because I ...,PS3,2013.0,Action,D3Publisher,0.02,0.02,0.00,0.01,0.05

In [18]:
df.to_csv('df.csv')
dff.to_csv('dff.csv')
dfq.to_csv('dfq.csv')
dfz.to_csv('dfz.csv')